.chart-content{
    -fx-padding: 30px;
    -fx-background-radius: 20pt;
}

.chart-title{
    -fx-text-fill: #4682b4;
}

.chart-legend{
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.axis{
    -fx-tick-label-fill: white;
}

